QWidget
{
    color: rgb(56, 56, 56);
}
QWidget:!enabled
{
    color: rgba(56, 56, 56, 128);
}

#label,
#label_2,
#label_3
{
    color: rgb(0, 0, 0);
}

#frame
{
    background-color: rgb(255, 255, 255);
}
